/* =Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

body {
  background: #fff; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0; }

a img {
  border: 0; }

html,
body {
  background-color: #000;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  overflow: hidden; }

::-webkit-scrollbar {
  display: none; }

body > .post {
  height: auto;
  min-height: 100%; }

.content-area {
  width: 90%;
  margin: 0 auto;
  padding: 1em 0; }
  .content-area .widget {
    width: 45%;
    float: left; }
    .content-area .widget:nth-child(even) {
      margin-right: 5%; }
    .content-area .widget:nth-child(odd) {
      margin-left: 5%; }

.slide-content {
  background: rgba(0, 0, 0, 0.7);
  position: absolute; }

.branding {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #fff;
  padding: 20px 0;
  position: absolute; }
  @media all and (max-width: 256px) {
    .branding {
      padding: 5px 0; } }
  @media all and (min-width: 257px) and (max-width: 600px) {
    .branding {
      padding: 10px 0; } }
  @media all and (min-width: 601px) and (max-width: 1024px) {
    .branding {
      padding: 20px 0; } }

.flexslider .slides {
  overflow: hidden;
  cursor: none; }
  .flexslider .slides .logo {
    max-width: 100%;
    width: auto;
    max-height: 60px; }
  .flexslider .slides .layout-img,
  .flexslider .slides .layout-txt {
    top: 0;
    bottom: 0;
    width: 92%;
    padding: 1em 4% 100px; }
    .flexslider .slides .layout-img .branding,
    .flexslider .slides .layout-txt .branding {
      width: 92%;
      left: 4%;
      right: 4%;
      bottom: 20px; }
    @media all and (max-width: 256px) {
      .flexslider .slides .layout-img,
      .flexslider .slides .layout-txt {
        padding-bottom: 20px; }
        .flexslider .slides .layout-img .branding,
        .flexslider .slides .layout-txt .branding {
          bottom: 0; } }
  .flexslider .slides .layout-img {
    background: none; }
    .flexslider .slides .layout-img .entry-header,
    .flexslider .slides .layout-img .entry-content {
      display: none; }
  .flexslider .slides .layout-txt h1 {
    margin-bottom: 1em; }
  .flexslider .slides .layout-img-left,
  .flexslider .slides .layout-img-right,
  .flexslider .slides .layout-txt-left,
  .flexslider .slides .layout-txt-right {
    top: 0;
    bottom: 0;
    padding: 6% 4% 0; }
    .flexslider .slides .layout-img-left .branding,
    .flexslider .slides .layout-img-right .branding,
    .flexslider .slides .layout-txt-left .branding,
    .flexslider .slides .layout-txt-right .branding {
      bottom: 20px; }
      @media all and (max-width: 256px) {
        .flexslider .slides .layout-img-left .branding,
        .flexslider .slides .layout-img-right .branding,
        .flexslider .slides .layout-txt-left .branding,
        .flexslider .slides .layout-txt-right .branding {
          bottom: 5px; } }
      @media all and (min-width: 257px) and (max-width: 600px) {
        .flexslider .slides .layout-img-left .branding,
        .flexslider .slides .layout-img-right .branding,
        .flexslider .slides .layout-txt-left .branding,
        .flexslider .slides .layout-txt-right .branding {
          bottom: 10px; } }
  .flexslider .slides .layout-img-left,
  .flexslider .slides .layout-img-right {
    width: 30%; }
    .flexslider .slides .layout-img-left .branding,
    .flexslider .slides .layout-img-right .branding {
      width: 79%;
      left: 10.5%;
      right: 10.5%; }
  .flexslider .slides .layout-txt-left,
  .flexslider .slides .layout-txt-right {
    width: 54%; }
    .flexslider .slides .layout-txt-left .branding,
    .flexslider .slides .layout-txt-right .branding {
      width: 87%;
      left: 6.5%;
      right: 6.5%; }
  .flexslider .slides .layout-img-left,
  .flexslider .slides .layout-txt-right {
    right: 0; }
  .flexslider .slides .layout-img-right,
  .flexslider .slides .layout-txt-left {
    left: 0; }
  .flexslider .slides .layout-img-top,
  .flexslider .slides .layout-img-bottom {
    width: 92%;
    padding: 2% 4% 100px; }
    .flexslider .slides .layout-img-top .branding,
    .flexslider .slides .layout-img-bottom .branding {
      width: 92%;
      left: 4%;
      right: 4%;
      bottom: 10px; }
    .flexslider .slides .layout-img-top h1,
    .flexslider .slides .layout-img-bottom h1 {
      clear: none; }
    @media all and (max-width: 256px) {
      .flexslider .slides .layout-img-top,
      .flexslider .slides .layout-img-bottom {
        padding-bottom: 20px; }
        .flexslider .slides .layout-img-top .branding,
        .flexslider .slides .layout-img-bottom .branding {
          bottom: 0; } }
  .flexslider .slides .layout-img-top {
    bottom: 0; }
  .flexslider .slides .layout-img-bottom {
    top: 0; }

/* =Content
----------------------------------------------- */
.site-header,
.site-footer {
  display: none; }

li.post {
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100%; }

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
  content: '';
  display: table; }

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
  clear: both; }

body,
button,
input,
select,
textarea {
  color: #fff;
  font-family: sans-serif;
  font-size: 4rem;
  line-height: 1.5; }
  @media all and (max-width: 256px) {
    body,
    button,
    input,
    select,
    textarea {
      font-size: 0.5rem; } }
  @media all and (min-width: 257px) and (max-width: 600px) {
    body,
    button,
    input,
    select,
    textarea {
      font-size: 1.3333333333rem; } }
  @media all and (min-width: 601px) and (max-width: 1280px) {
    body,
    button,
    input,
    select,
    textarea {
      font-size: 2.6666666667rem; } }
  @media all and (min-width: 1921px) {
    body,
    button,
    input,
    select,
    textarea {
      font-size: 8rem; } }

.site-content {
  font-size: 2rem; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  clear: both; }

h1 {
  font-size: 7rem;
  line-height: 1.25em;
  margin: 0 0 .25em; }
  @media all and (max-width: 256px) {
    h1 {
      font-size: 0.875rem; } }
  @media all and (min-width: 257px) and (max-width: 600px) {
    h1 {
      font-size: 2.3333333333rem; } }
  @media all and (min-width: 601px) and (max-width: 1280px) {
    h1 {
      font-size: 4.6666666667rem; } }
  @media all and (min-width: 1921px) {
    h1 {
      font-size: 14rem; } }

h2 {
  font-size: 5rem; }
  @media all and (max-width: 256px) {
    h2 {
      font-size: 0.625rem; } }
  @media all and (min-width: 257px) and (max-width: 600px) {
    h2 {
      font-size: 1.6666666667rem; } }
  @media all and (min-width: 601px) and (max-width: 1280px) {
    h2 {
      font-size: 3.3333333333rem; } }
  @media all and (min-width: 1921px) {
    h2 {
      font-size: 10rem; } }

h3 {
  font-size: 4.5rem; }
  @media all and (max-width: 256px) {
    h3 {
      font-size: 0.5625rem; } }
  @media all and (min-width: 257px) and (max-width: 600px) {
    h3 {
      font-size: 1.5rem; } }
  @media all and (min-width: 601px) and (max-width: 1280px) {
    h3 {
      font-size: 3rem; } }
  @media all and (min-width: 1921px) {
    h3 {
      font-size: 9rem; } }

h4 {
  font-size: 4rem; }
  @media all and (max-width: 256px) {
    h4 {
      font-size: 0.5rem; } }
  @media all and (min-width: 257px) and (max-width: 600px) {
    h4 {
      font-size: 1.3333333333rem; } }
  @media all and (min-width: 601px) and (max-width: 1280px) {
    h4 {
      font-size: 2.6666666667rem; } }
  @media all and (min-width: 1921px) {
    h4 {
      font-size: 8rem; } }

h5 {
  font-size: 4rem; }
  @media all and (max-width: 256px) {
    h5 {
      font-size: 0.5rem; } }
  @media all and (min-width: 257px) and (max-width: 600px) {
    h5 {
      font-size: 1.3333333333rem; } }
  @media all and (min-width: 601px) and (max-width: 1280px) {
    h5 {
      font-size: 2.6666666667rem; } }
  @media all and (min-width: 1921px) {
    h5 {
      font-size: 8rem; } }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

/* Text elements */
p {
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 1em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%; }

code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 60%; }

big {
  font-size: 125%; }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold; }

/* Links */
.content-area a {
  color: #cccccc; }
  .content-area a:hover, .content-area a:active {
    color: #fff;
    text-decoration: none; }

.slides a {
  color: #fff;
  text-decoration: none; }

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0;
  position: relative;
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  height: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1;
  height: 100%; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url(images/bg_direction_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all .3s ease; }

.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px; }

.flex-direction-nav .flex-prev {
  left: -36px; }

.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px; }

.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }
/* =Media
----------------------------------------------- */
.site-header img,
.entry-content img,
.comment-content img,
.widget img {
  max-width: 100%;
  /* Fluid images for posts, comments, and widgets */ }
  .site-header img.alignright, .site-header img.alignleft,
  .entry-content img.alignright,
  .entry-content img.alignleft,
  .comment-content img.alignright,
  .comment-content img.alignleft,
  .widget img.alignright,
  .widget img.alignleft {
    width: 30%;
    height: auto;
    margin-bottom: 30px; }
  .site-header img.aligncenter,
  .entry-content img.aligncenter,
  .comment-content img.aligncenter,
  .widget img.aligncenter {
    max-width: 100%;
    margin: .5em auto;
    height: auto; }

.site-header img,
.entry-content img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"] {
  height: auto;
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

.site-header img,
.entry-content img,
img.size-full {
  max-width: 100%;
  width: auto;
  /* Prevent stretching of full-size images with height and width attributes in IE8 */ }

.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

.site-content .gallery {
  margin-bottom: 1.5em; }
  .site-content .gallery a img {
    border: none;
    height: auto;
    max-width: 90%; }
  .site-content .gallery dd {
    margin: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/* =Asides
----------------------------------------------- */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }
