/*
 * Default Color Schemes
 * =====================
 */
#colorfields {
  width: 100%;
  border-collapse: collapse; }
  #colorfields tr:nth-child(even) {
    background: #eee; }
    #colorfields tr:nth-child(even) .wp-picker-container,
    #colorfields tr:nth-child(even) .wp-picker-input-wrap,
    #colorfields tr:nth-child(even) .wp-picker-holder {
      background: #eee; }
  #colorfields th {
    text-align: left;
    border-bottom: 1px solid #ccc; }
  #colorfields th,
  #colorfields td {
    padding: .5em 1em;
    position: relative; }
  #colorfields .infoscreen-colorscheme-name {
    width: 25%; }
    #colorfields .infoscreen-colorscheme-name input {
      width: 100%; }
  #colorfields .infoscreen-color-picker {
    width: 25%;
    position: relative; }
  #colorfields .transparency-amount {
    width: 30px; }
  #colorfields .colorscheme_transparency_slider {
    width: 50px;
    float: left; }
  #colorfields .ui-slider {
    left: 55px;
    top: 5px; }
  #colorfields .wp-picker-input-wrap {
    width: 150px; }
  #colorfields .wp-picker-input-wrap,
  #colorfields .wp-picker-holder {
    position: absolute;
    z-index: 500; }
  #colorfields .wp-picker-container,
  #colorfields .wp-picker-input-wrap,
  #colorfields .wp-picker-holder {
    background: #f7f7f7; }

.add-scheme {
  padding-right: 1em;
  text-align: right; }

/*
 * Logo Uploader
 * ===============
 */
#upload_logo_preview {
  background: #ddd;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 0 12px; }

/*
 * Category Animations
 * ===================
 */
#meta_box_animation table {
  width: 100%;
  border-collapse: collapse; }
  #meta_box_animation table tr:nth-child(even) {
    background: #eee; }
  #meta_box_animation table th {
    text-align: left;
    border-bottom: 1px solid #ccc; }
  #meta_box_animation table th,
  #meta_box_animation table td {
    padding: .5em 1em;
    position: relative; }

/*
 * Fonts
 * =====
 */
#meta_box_fonts .layout-controls {
  background: #eee;
  border: 1px solid #ccc;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 8px 12px; }
#meta_box_fonts label {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-height: 36px; }
#meta_box_fonts input:checked ~ label {
  box-shadow: 0 1px 0 #fff; }

/*
 * Slide Layout Controls
 * =====================
 */
.layout-controls {
  overflow: hidden; }
  .layout-controls li {
    float: left;
    width: 100px;
    margin-right: 10px; }
    .layout-controls li input[type=radio] {
      opacity: 0; }
      .layout-controls li input[type=radio]:checked ~ label {
        background-color: #21759b;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#2a95c5), to(#21759b));
        background-image: -webkit-linear-gradient(top, #2a95c5, #21759b);
        background-image: -moz-linear-gradient(top, #2a95c5, #21759b);
        background-image: -ms-linear-gradient(top, #2a95c5, #21759b);
        background-image: -o-linear-gradient(top, #2a95c5, #21759b);
        background-image: linear-gradient(to bottom, #2a95c5, #21759b);
        border: 1px solid #21759b;
        border-bottom-color: #1e6a8d;
        -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
        box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
        color: #fff;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
    .layout-controls li label {
      background: #f3f3f3;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
      background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
      background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4);
      background-image: -o-linear-gradient(top, #fefefe, #f4f4f4);
      background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
      border: 1px solid #bbb;
      color: #333;
      text-shadow: 0 1px 0 #fff;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer;
      display: block;
      text-align: center;
      margin-top: -10px;
      padding: 5px 10px 0;
      position: relative; }
      .layout-controls li label img {
        margin: 10px auto; }

.color-controls li {
  background-size: cover;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 80px; }
  .color-controls li input[type=radio] {
    opacity: 1;
    margin: 10px auto; }
  .color-controls li label {
    min-height: 80px;
    margin-top: 0;
    text-shadow: none; }

/*
 * Slide Preview
 * ===============
 */
#infoscreen-page-preview .inside {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }

.slide-preview {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }
