// Default colors
$background-color: #fff;
$bodytext-color: #000;
$header-color: #000;

// Font sizes
$default-font-size: 4rem;
$h1-font-size: 7rem;
$h2-font-size: 5rem;
$h3-font-size: 4.5rem;
$h4-font-size: 4rem;
$h5-font-size: 4rem;
$h6-font-size: 4rem;