// Slide Layouts
// =============

html,
body,
.post {
  height: 100%;
  margin: 0;
  padding: 0;
}

body > .post {
  height: auto;
  min-height: 100%;
}

/* =Content
----------------------------------------------- */
.site-header,
.site-footer {
	display: none;
}
.post {
	background-size: cover;
	background-position: center center;
	position:relative;
	top: 0;
	left: 0;
	width: 100%;
}

.slide-content {
	background: rgba(0,0,0,.8);
	height: 100%;
	width:38%;
}

.entry-header,
.entry-content {
	margin: 0 0 0 38%;
}



// Image takes 2/3 of screen real estate
// -------------------------------------
.layout-img {}
.layout-img-left {}
.layout-img-right {}
.layout-img-top {}
.layout-img-bottom {}

// Text takes 2/3 of screen real estate
// ------------------------------------
.layout-txt {}
.layout-txt-left {}
.layout-txt-right {}
.layout-txt-top {}
.layout-txt.bottom {}