// Layouts
// =============

html,
body {
	background-color: $background-color;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
::-webkit-scrollbar{display: none;}
body > .post {
  height: auto;
  min-height: 100%;
}

// Page Layouts
// ============
.content-area {
	width: 90%;
	margin: 0 auto;
	padding: 1em 0;
	.widget {
		width: 45%;
		float: left;
		&:nth-child(even) {
			margin-right: 5%;
		}
		&:nth-child(odd) {
			margin-left: 5%;
		}
	}
}

// Slide Layouts
// =============
.slide-content {
	background: rgba(0,0,0,.7);
	position: absolute;
}
.branding {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #fff;
	padding: 20px 0;
	position: absolute;
	@media all and (max-width:256px) {
		padding: 5px 0;
	}
	@media all and (min-width:257px) and (max-width:600px) {
		padding: 10px 0;
	}
	@media all and (min-width:601px) and (max-width:1024px) {
		padding: 20px 0;
	}	
}
.flexslider .slides {
	overflow: hidden;
	cursor: none;
		.logo {
			max-width:100%;
			width:auto;
			max-height: 60px;
		}

	// Image takes 2/3 of screen real estate
	// -------------------------------------
	.layout-img,
	.layout-txt {
		top:0;
		bottom: 0;
		width:92%;
		padding: 1em 4% 100px;
		.branding {
			width:92%;
			left: 4%;
			right: 4%;
			bottom: 20px;
		}

		@media all and (max-width:256px) {
			padding-bottom: 20px;
			.branding {bottom: 0;}
		}
	}

	.layout-img {
		background: none;
		.entry-header,
		.entry-content {display:none;}
	}

	.layout-txt {
		h1 {margin-bottom: 1em;}
		.entry-content {}
	}

	.layout-img-left,
	.layout-img-right,
	.layout-txt-left,
	.layout-txt-right {
		top:0;
		bottom: 0;
		padding: 6% 4% 0;
		.branding {
			bottom:20px;

			@media all and (max-width:256px) {
				bottom:5px;
			}
			@media all and (min-width:257px) and (max-width:600px) {
				bottom:10px;
			}
		}
	}

	.layout-img-left,
	.layout-img-right {
		width: 30%;

		.branding {
			width:79%;
			left: 10.5%;
			right: 10.5%;
		}
	}

	.layout-txt-left,
	.layout-txt-right {
		width: 54%;

		.branding {
			width:87%;
			left: 6.5%;
			right: 6.5%;
		}
	}

	.layout-img-left,
	.layout-txt-right {right: 0;}

	.layout-img-right,
	.layout-txt-left {left: 0;}

	.layout-img-top,
	.layout-img-bottom {
		width: 92%;
		padding: 2% 4% 100px;
		.branding {
			width:92%;
			left: 4%;
			right: 4%;
			bottom: 10px;
		}
		h1 {clear: none;}
		.entry-content {}

		@media all and (max-width:256px) {
			padding-bottom: 20px;
			.branding {bottom: 0;}
		}
	}

	.layout-img-top {bottom:0;}
	.layout-img-bottom {top:0;}

}

/* =Content
----------------------------------------------- */
.site-header,
.site-footer {
	display: none;
}
li.post {
	background-size: cover;
	background-position: center center;
	position:relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-height: 100%;
}

.entry-header,
.entry-content {}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: '';
	display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}