// Default colors
$background-color: #000;
$bodytext-color: #fff;
$header-color: #fff;

// Font sizes

$default-font-size: 4rem;
$h1-font-size: 7rem;
$h2-font-size: 5rem;
$h3-font-size: 4rem;
$h4-font-size: 3rem;
$h5-font-size: 3rem;
$h6-font-size: 3rem;